*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-section{
    object-fit: contain;
    height: 100dvh;
    width: 100dvw;
    background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    background-size: cover;
}

.linear-gradient{
    background: linear-gradient(90deg,#131516 0%, transparent 100%);
    height: 100%;
    width: 100dvw;
    position: absolute;
    top: 0;

    color: white;
}

.title-container{
    width: 40%;
}

.navbar{
    width: 100dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;

    background-color: rgba(19, 21, 22,0.5);
}

#dark-mode{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li{
    padding: 5px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.navitems{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
}

.navitems ul{
    list-style: none;
    display: flex;
}

.navbar li:hover{
    background-color: rgba(128, 128, 128, 0.2);
    opacity: 1;
    scale: 1.05;
    transition: linear 0.15s 0.1s;
}

.sidebar{
    height: 100dvh;
    width: 250px;    
    backdrop-filter: blur(10px);
    position: fixed;
    top:0;
    right: 0;
    z-index: 5;
    background-color: rgba(255,255,255,0.2);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #131516;
    visibility: hidden;
}

.menu-btn{
    visibility: hidden;
}

.sidebar li{
    margin: 10px 0 10px 0;
}

.title{
    font-size: 30px;
    margin-left: 50px;
}

.icon{
    border: 2px solid #EDCB96;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #337CA0;
    flex-shrink: 0;
    padding: 2px 0 0 5px;
    margin-right: 10px;
    background-color: #131516;
}

.tagline{
    margin: 50% 0 0 40%;
    font-size: 30px;
}

.intro{
    font-size: smaller;
    font-weight: 500;
    margin-top: 10px;
}

.page{
    height: 100dvh;
    width: 100dvw;
    background-color: #131516;
    color: white;
}

.page-heading{
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-heading>h1:hover{
    scale: 1.2;
    margin-bottom: 5px;
    transition: ease-out 1s 0.2s;
}

.page-heading>h1:hover+.underline{
    width: 200px;
    transition: ease-out 1s 0.2s;
}

.article-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.article{
    height: 60dvh;
    width: 25dvw;
    padding-left: 2.5%;
    padding-top: 20px;
}

.article:hover>.headline{
    font-weight: 600;
    transition: ease-in-out 1s 0.2s;
}

.article:hover>.article-image{
    scale: 1.1;
    transition: ease-in-out 1s 0.2s;
}

.article>img{
    width: 90%;
    box-shadow: -22px -29px 0px 0px #343434;
    margin-bottom: 15px;
}

.date{
    margin-bottom: 5px;
    font-size: small;
    font-weight: 800;
    opacity: 0.7;
}

.offset{
    padding-top:100px;
    margin: 0 2% 0 2%;
}

.headline{
    color: #EDCB96;
    margin-bottom: 5px;
}

.rm{
    color: #EDCB96;
    font-size: small;
    font-weight: 800;
    opacity: 0.9;
    margin-top: 15px;
}

.rm:hover{
    text-decoration: underline #EDCB96;
    transition: ease-in-out 0.3s 0.2s;
}

.hor-div{
    width: 30%;
    outline: 0.5px solid #EDCB96;
    margin-bottom: 10px;
}

.underline{
    width: 100px;
    outline: 0.5px solid #EDCB96;
    margin: 5px 0 0 0;
}

.card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.card:hover{
    scale: 1.1;
    transition: ease-out 0.3s 0.2s;
    text-decoration: underline 2px solid white;
}

.card-container:has(.card:hover)>.card:not(:hover){
    scale: 0.9;
    opacity: 0.5;
    transition: ease-in 0.8s 0.2s;
}

.exp{
    font-weight: 100;
    margin-top: 10px;
    text-align: center;
}

.card{
    height: 60dvh;
    width: 20dvw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-size: cover;

    border-radius: 20px;
}

.place{
    font-weight: 900;
    font-size: x-large;
    color: #EDCB96;
    backdrop-filter: blur(10px);
}

.country{
    font-weight: 500;
    margin-bottom: 10px;
}

#antelope-canyon{
    background-image: url("https://images.unsplash.com/photo-1589824503758-a4ebd0ef8a8f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YW50ZWxvcGUlMjBjYW55b258ZW58MHx8MHx8fDA%3D");
}

#palawan{
    background-image: url("https://images.unsplash.com/photo-1591049014083-3339a6fe59eb?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#lake-ohrid{
    background-image: url("https://images.unsplash.com/photo-1557456170-0cf4f4d0d362?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#finland{
    background-image: url("https://images.unsplash.com/photo-1528155124528-06c125d81e89?q=80&w=1978&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.footer{
    height: 30dvh;
    width: 100dvw;
    background-color: #2d232e;
    color: white;
    padding-top: 20px;

}

.foot-list{
    margin-left: 30dvw;
    margin-top: -30px;
    display: flex;
}

.foot-list li:hover{
    text-decoration: underline;
}

.list{
    margin:0 5rem 2rem 1rem;
}

.foot-list-title{
    font-weight: 600;
    font-size: 15px;
    margin-left: -15px;
}

.copyright{
    text-align: center;
    width: 100%;
}

#email{
    width: 80%;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    margin-top: 10px;
}

#email:focus{
    outline: none;
}

#submit{
    height:30px;
    width: 50px;
    border-radius: 10px;
    color: white;
    background-color: #554dd1;
    
    box-shadow: 5px 6px 0px 0px #2F195F;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    height: 80%;
    width: 100%;
    margin-top: 20px;
    margin-left: -100px;
}

.image{
    margin: 10px;
    color: white;
}

.image:hover{
    scale: 1.1;
    transition: ease-in-out .8s 0.2s;
}

.gallery:has(.image:hover)>.image:not(:hover){
    scale: 0.9;
    opacity: 0.5;
    transition: ease-in-out .8s 0.2s;
}

.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.full-img img{
    max-height: 90%;
    max-width: 90%;
}

.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 40px;
}

#one{
    margin-left: 200px;
    height: 200px;
    width: 200px;
    margin-top: 50px;
    background-image: url("https://images.unsplash.com/photo-1516690553959-71a414d6b9b6?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}
#two{
    height: 200px;
    width: 400px;
    background-image: url("https://images.unsplash.com/photo-1526475742373-fb7d3f1b4b55?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}
#three{
    height: 150px;
    width: 600px;
    margin-top: 60px;
    background-image: url("https://images.unsplash.com/photo-1703692218696-c9f830a81f65?q=80&w=2068&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}
#four{
    height: 300px;
    width: 300px;
    margin-left: 80px;
    background-image: url("https://images.unsplash.com/photo-1703372619010-ed887f803eab?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}
#five{
    height: 150px;
    width: 900px;
    margin-top: -35px;
    margin-right: -90px;

    background-image: url("https://getwallpapers.com/wallpaper/full/8/1/2/1477510-download-free-widescreen-nature-wallpapers-high-resolution-3840x1080-for-tablet.jpg");
    background-size: cover;
}
#six{
    height: 200px;
    width: 400px;
    margin: -190px 10px 0 415px;
    background-image: url("https://images.unsplash.com/photo-1698766767195-fdaba9166ab9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}
#seven{
    height: 250px;
    width: 400px;
    margin-top: -190px;
    background-image: url("https://images.unsplash.com/photo-1692060234392-aa41b4703065?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE5fDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D");
    background-size: cover;
}

.divider{
    width: 80%;
    outline: .5px solid white;
    margin: 0 0 15px 10%;
    opacity: .5;
}

#footer-icon{
    margin: 0 0 0 5%;
}

#gallery-page{
    height: 120dvh;
}

#footer-title{
    margin-left:50px; 
    padding-top: 20px;
}

@media (max-width:1500px){    
    body{            
        background-color: #131516;
        }
    #explore{
        margin-top: 200px;
        margin-bottom: -150px;
    }
    #gallery-page{
        height: 70dvh;
        margin-top: 0;
    }
    .page{
        height: 65dvh;
        margin-top: 100px;
    }
    .gallery{
        margin-left: 0;
        height: 60dvh;
    }
    #one{
        height: 150px;
        width: 150px;
        margin: 50px 5px 5px 100px;
    }
    #two{
        width: 250px;
        margin: 5px;
    }
    #three{
        margin: 50px 5px 5px 5px;
    }
    #four{
        height: 120px;
        width: 150px;
        margin: 50px 5px 5px 5px;
    }
    #five{
        margin: 5px;
    }
    #six{
        margin: 5px;
        height: 150px;
    }
    #seven{
        height: 120px;
        margin: 5px;
    }

    .card-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        height: 30dvh;
        width: 30dvh;
        margin: 5px;
    }

    .foot-list{
        flex-wrap: wrap;
        margin-left: 50px;
    }

    #footer-title{
        visibility: hidden;
    }
}

@media (max-width:1500px) and (min-width=700px){
    *{
        visibility: hidden;
    }
}

@media (max-width:900px){    
    .menu-btn{
        visibility: visible;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 20px;
    }
    .hideOnMobile{
        visibility: hidden;
    }
    .gallery{
        height: 35dvh;
    }
    #gallery-page{
        height: 80dvh;
    }

    .article{
        font-size: 15px;
    }

    .rm{
        font-size: 10px;
    }

    .article .desc{
        display: none;
    }
    .article img{
        box-shadow: none;
    }
    .page{
        height: 45dvh;
    }
    .tagline{
        margin-top: 500px;
        width: 80dvw;
    }
    #one{
        height: 150px;
        width: 150px;
        margin: 5px;
    }
    #two{
        height: 150px;
        width: 150px;
        margin: 5px;
    }
    #three{
        height: 150px;
        width: 150px;
        margin: 5px;
    }
    #four{
        height: 150px;
        width: 150px;
        margin: 5px;
    }
    #five{
        height: 150px;
        width: 150px;
        margin: 5px;
    }
    #six{
        height: 150px;
        width: 150px;
        margin: 5px;
    }
    #seven{
        height: 150px;
        width: 150px;
        margin: 5px;
    }
    .card{
        height: 20dvh;
        width: 20dvh;
        margin: 5px;
    }
    .place{
        font-size: .8rem;
    }
    .country{
        font-size: .5rem;
    }
    .card-container{
        height: auto;
        margin: 0;
    }
    .footer{
        height: 90dvh;
    }
    body{            
    background-color: #131516;
    }
    #explore{
        margin-top: 100px;
        margin-bottom: -300px;
    }
}

@media(max-width:400px){
    body{
        background-color: #131516;
    }
    .sidebar{
        width: 100%;
    }
    .page{
        margin-top: 200px;
    }
    .article img{
        box-shadow: none;
    }
    #explore{
        margin-top: 150px;
        margin-bottom: -200px;
    }
}

#close-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 50px;
    width: 50px;    
    border-radius: 50%;
}

#close-btn:hover{
    background-color: rgba(128, 128, 128, 0.2);
    scale: 1.05;
    transition: linear 0.15s 0.1s;
}